html,body {
	font-size: 15px;
}

.card_title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

.radio-toolbar {
	margin-bottom: 10px;
}

.radio-toolbar input[type="radio"] {
	display: none;
}

.radio-toolbar label {
	border-radius: 3px;
	font-weight: bold;
	display: inline-block;
	background-color: #ddd;
	padding: 5px 11px;
	cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked + label {
	color: white;
	background-color: #801e2b;
}

.btn {
	padding: 8px 12px;
}

.col-sm-6 {
	margin-bottom: 15px;
}

.form-control {
	width: 80%;
	padding: 5px;
	border-radius: 0px;
    border: 0;
    border-bottom: 2px solid #801e2b;
    box-shadow: none !important;
}

.form-control:focus {
	border-color: #801e2b;
}

.ui-menu{
	background: #fff;
	padding: 0;
    list-style: none;
    box-shadow: 5px 0px 8px white;
    width: 200px;
    line-height: 200%;
    border-radius: 0 0 6px 6px;
    border-top:0px;
    border-bottom: 2px solid #801e2b;
    border-left: 2px solid #801e2b;
    border-right: 2px solid #801e2b;
}

.ui-menu .ui-menu-item{
	margin: 0px;
	padding: 5px 10px;
}

.ui-menu .ui-menu-item:hover{
	color: #fff;
	background: #801e2b;
}

.ui-menu .ui-menu-item:hover:last-child{
	border-radius: 0 0 4px 4px;
}

th {
	padding: 15px !important;
}

td:not(:last-child) {
	padding: 12px 0 12px 15px !important;
}

td:last-child {
	text-align: center;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

.request {
	display: block;
	float: left;
	padding: 5px;
	background: #fff;
	width: 170px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	border:1px solid #e9ecef;
}

.request:hover {
	color: #fff;
	background: #801e2b;
}

.request_input input {
	margin-left: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.footer {
	margin-top: 25px;
}

/* header */
.header {
	background-color: #801e2b;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	width: 100%;
	margin-bottom: 20px;
}

.wrap {
	padding-top: 20px;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #801e2b;
}

.header li a {
	display: block;
	padding: 15px 25px;
	border-left: 5px solid #f4f4f4;
	text-decoration: none;
	background: #fff;
	color: #801e2b;
}

.header li a:hover,
.header .menu-btn:hover {
	background-color: #f4f4f4;
	color: #801e2b;
}

a.logo {
	color: #fff;
}

.header .logo {
	display: block;
	float: left;
	font-size: 29px;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
}

/* menu */

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 27px 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	/*background: #007bff;*/
	background: #fff;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #fff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}