.iseNav {
	padding: 5px;
	margin-bottom: 20px;
	background: #801e2b;
	color: white;
}

.panel_title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

.radio-toolbar {
	margin-bottom: 10px;
}

.radio-toolbar input[type="radio"] {
	display: none;
}

.radio-toolbar label {
	display: inline-block;
	background-color: #ddd;
	padding: 4px 11px;
	cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked + label {
	color: white;
	background-color: #801e2b;
}

.btn {
	padding: 8px 12px;
}

.form-control {
	width: 80%;
	padding: 5px;
	border-radius: 0px;
    border: 0;
    border-bottom: 2px solid #801e2b;
    box-shadow: none !important;
}

.form-control:focus {
	border-color: #801e2b;
}

.ui-menu{
	background: #fff;
	padding: 0;
    list-style: none;
    box-shadow: 5px 0px 8px white;
    width: 200px;
    line-height: 200%;
    border-radius: 0 0 6px 6px;
    border-top:0px;
    border-bottom: 2px solid #801e2b;
    border-left: 2px solid #801e2b;
    border-right: 2px solid #801e2b;
}

.ui-menu .ui-menu-item{
	margin: 0px;
	padding: 5px 10px;
}

.ui-menu .ui-menu-item:hover{
	color: #fff;
	background: #801e2b;
}

.ui-menu .ui-menu-item:hover:last-child{
	border-radius: 0 0 4px 4px;
}

th {
	padding: 15px !important;
}

td:not(:last-child) {
	padding: 12px 0 12px 15px !important;
}

td:last-child {
	text-align: center;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

.request {
	display: block;
	float: left;
	padding: 5px;
	background: #fff;
	width: 170px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	border:1px solid #ccc;
}

.request:hover {
	color: #fff;
	background: #801e2b;
}

.request_input input {
	margin-left: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
}